.card-profile {
  max-width: 340px;
  margin: 50px auto;
  border-radius: 0;
  border: 0;
  box-shadow: 1em 1em 2em rgba(0,0,0,.2);
}

.card-img-top {
  border-radius: 0;
}

.card-img-profile {
  max-width: 100%;
  border-radius: 50%;
  margin-top: -95px;
  margin-bottom: 35px;
}

.card-title {
  margin-bottom: 50px;
  padding: 5px;
}

small {
  display: block;
  font-size: .6em;
  margin-top: .2em;
}

div.card-profile a:hover {
  box-shadow: 2px 3px 2px #7f8c8d;
}